
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}
body{
    background-color: rgb(0, 0, 0,0.8);
}

.container{
    width: 70%;
    margin: 60px auto;
    

}
/* innnercon start  */
.inner-con{
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 1.4rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

}
/* form sec start  */
.form-sec{
    display: flex;
    justify-content: flex-start;
}
form .input{
    max-width: 300px;
    position: relative;
}
.input i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: snow;
    font-size: 1.1rem;
    left: 10px;
}
.input input{
    background-color: rgb(0, 0, 0,0.8);
    padding: 0.4rem 2.2rem;
    border: none;
    outline: none;
    border-radius: 8px;
    color: snow;
    font-size: 1.2rem;
    width: 100%;
}
/* end  */


/* middle-se start */ 
.middle-sec{
    display: flex;
    justify-content: center;
}
/* loader start  */
.loader{
    width:60px ;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(174, 0, 255);
    position: relative;
    animation: rotate 1s infinite linear reverse;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
        aspect-ratio: 1;
        background-color: white;
        border-radius: inherit;
        /* z-index: 1; */

    }
    &::before{
        content: "";
        position: absolute;
        top: -15px;
        right: 50%;
        transform: translateX(50%);
        width: 30%;
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: 2px 2px 30px rgb(51, 3, 97);
        background-color: rgb(43, 226, 134);
        z-index: 1;
    }
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* end  */
.inner-middle h1,p{
    margin-bottom: 20px;
}
h1{display: flex;
justify-content: center;}
.inner-middle .cloudes{
    background-color: black;
    color: snow;
    font-size: 1.2rem;
    border: none;
    padding: 0.4rem 0.9rem;
    border-radius: 20px;
    text-align: center;
}
.inner-middle .cl-sec{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.inner-middle .cl-img{
    display: flex;
    justify-content:center;
    margin-bottom: 15px;
}
h1{color: rgb(0, 4, 255);
font-size: 2.2rem;}
.temp{display: flex;
justify-content: center;
margin-bottom: 15px;
font-size: 1.5rem;
}
.temp-sec{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    font-size: 1.2rem;
}
.weather-icon img{
    width: 100px;
    height: 100px;
}
/* end  */
/* bottom star */
.bottom-sec{
    display: flex;
    background-color: aliceblue;
    gap: 1.5rem;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 1rem 0.7rem;

}
.bottom-sec .temp-card{
    flex-basis: 400px;
    flex-grow: 1;
    background-color: antiquewhite;
    padding: 1.2rem 1rem;
    border: none;
    border-radius: 12px;

}
.temp-card i{
    font-size: 1.4rem;
}
/* end  */
/* end  */






@media screen and (max-width:576px){
    .container{
        width: 100%;
        padding: 0px 14px;
    }
    .middle-sec{
        justify-content: flex-start;
    }
      .inner-middle .cl-sec{
        justify-content: flex-start;
    }
    .inner-middle .cl-img{
        justify-content: flex-start;
    }
   
    .temp{
        justify-content: flex-start;
    }
    .temp-sec{
        justify-content: flex-start;
    }
    .inner-con{
        padding: 1.4rem 0.6rem;
    }
    h1{justify-content: flex-start;}
}